<% provide(:title, "TOP") %>
<% if !logged_in? %>
  <div class="center jumbotron">
    <h1>Mnemosyne</h1>

    <h2>
      全ての人の記憶を助ける
    </h2>

    <%= link_to "今すぐ登録する", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% else %>
  <div class="row">
    <%= render 'shared/item' %>
  </div>
<% end %>
