<% provide(:title, "TOP") %>
<% if !logged_in? %>
  <div class="center jumbotron">
    <h1>ソフトウェアのように知識をインストールする</h1>
    <br/>
    <h2>復習タイミングを自動調整することにより効率的に記憶することが出来ます</h2>
    <br/>
    <%= link_to "無料で会員登録", signup_path, class: "btn btn-lg btn-primary rounded-pill" %>
  </div>
<% else %>
  <div id="toast" class="toast" data-delay="2000" role="status">
    <div class="toast-body">
      次の復習日は <span id="js-next-review-datetime"></span> です
    </div>
  </div>
  <%= link_to "", new_item_path(current_user), class: "fas fa-plus-circle new-item-button text-dark" %>
  <%= render 'shared/item' %>
<% end %>