<% provide(:title, "TOP") %>
<% if !logged_in? %>
  <div class="center jumbotron">
    <h1>暗記くん</h1>

    <h2>
      全ての人の記憶を助ける
    </h2>

    <%= link_to "今すぐ登録する", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% else %>
  <div id="toast" class="toast" data-delay="2000" role="status">
    <div class="toast-body">
      次の復習日は <span id="js-next-review-datetime"></span> です
    </div>
  </div>
  <%= link_to "", new_item_path(current_user), class: "fas fa-plus-circle new-item-button" %>
  <%= render 'shared/item' %>
<% end %>