<p>
平素よりご利用ありがとうございます。
以下のリンクよりパスワードの再設定を行ってください。
</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>リンクは２時間で無効になります。</p>

