/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* top */
.top-content {
  background: white;
}

.overview {
  text-align: center;
}

.top-image {
  margin-bottom: 30px;
}

.nayami-sample {
  font-size: 0.9rem;
}

/* universal */

html {
  font-size: 18px;
}

body {
  padding-top: 80px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 1.5rem;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1rem;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.3rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: gray;
  font-size: 0.8rem;
  height: 40px;
  a {
    color: gray;
    &:hover {
      color: gray;
    }
  }
  .author {
    float: left;
    margin-left: 10px;
  }
  .links {
    float: right;
    margin-right: 10px;
    a {
      text-decoration: none;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background: lightgray;
  font-size: 0.8rem;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4rem;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input[type=submit], input[type=file] {
  width: 100%;
}

input {
  height: auto !important;
}

.input-label {
  display: block;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: red;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.item-delete-link {
  float: right;
  color: red;
  margin-top: 1rem;
}
a.item-delete-link {
  text-decoration: none;
}

/* items list */

.item {
  padding: 10px 0;
  .front-text {
    display: block;
    height: auto;
    margin: 10px 0px;
  }
  .front-picture {
    height: auto;
    margin: 10px 0px;
  }
  .back-text {
    display: block;
    height: auto;
    margin: 10px 0px 20px 0px;
  }
  .back-picture {
    height: auto;
    margin: 10px 0px 20px 0px;
  }
  .angle {
    text-align: center;
    display: block;
    font-size: 40px;
    cursor: pointer;
  }
  .angle:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f106";
  }
  .angle.collapsed:after {
    content: "\f107";
  }
  .deck-title {
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 10px;
  }
  .edit-menu {
    font-size: 0.8rem;
  }
  .timestamp {
    color: gray;
    display: inline-block;
    float: right;
    font-size: 0.8rem;
  }
  a {
    text-decoration: none;
  }
  .review-btn {
    margin-bottom: 10px;
    display: inline-flex;
    .again, .good, .easy {
      width: 90px;
      font-size: 15px;
      margin-left: 10px;
    }
  }
}

/* review page */
#toast {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
  background-color: dimgray;
  color: white;
  text-align: center;
}

.new-item-button {
  position: fixed;
  font-size: 60px;
  bottom: 20px;
  right: 10px;
  z-index: 100;
}
a.new-item-button {
  text-decoration: none;
}

/* decks list */
.deck {
  padding: 10px 0;
  height: 80px;
  .title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .description {
    font-size: 0.8rem;
    color: gray;
  }
  a {
    text-decoration: none;
  }
}

.deck-header {
  .deck-title {
    font-size: 1.2rem;
  }
  .deck-description {
    font-size: 0.8rem;
    color: gray;
  }
  .deck-atr {
    font-size: 0.7rem;
    color: gray;
  }

  .edit-deck {
    font-size: 0.7rem;
    float: right;
  }
  .copy-btn {
    float: right;
    width: 100px;
  }
}
