<div class="row" id ="deck-<%= deck.id %>">
  <div class="col-10 mx-auto deck">
    <div class="title">
      <%= link_to deck.title, "" %>
    </div>
    <div class="description">
      <%= deck.description %>
    </div>
  </div>
</div>
