<% provide(:title, 'みんなのデッキ一覧') %>
<div class="container">
  <h1>みんなのデッキ一覧</h1>
  <% if @decks.any? %>
    <%= render @decks %>

    <%= will_paginate @decks, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <% end %>
</div>
