<footer class="footer">
  <small>
    Mnemosyne 
    by Yuichi Nakamura
  </small>
  <nav>
    <ul>
      <li><%= link_to "本サービスについて",   about_path %></li>
      <li><%= link_to "連絡", contact_path %></li>
    </ul>
  </nav>
</footer>